@model WebApplication2.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var className = Model.Customers.Count > 4 ? "popular" : null;
}

<h2 class="@className">@Model.Movies.Name</h2>

@{
    if (Model.Customers.Count < 1)
    {
        <p>This movie is not popular</p>
    }
    else
    {
        <ul>
            @foreach (var customer in @Model.Customers)
            {
                <li>@customer.Name</li>
            }

        </ul>
    }
}





